.auth-container {
    width: 100%;

    input::placeholder {
        font-size: 16px;

        &::after {
            color: red;
            content: "*";
        }
    }

    .auth-box {
        display: flex;
        margin-bottom: 10px;

        .left-auth-container {
            width: 50%;
            display: flex;
            text-align: center;
            justify-content: space-around;

            img {
                transform: scale(0.8);
                // width: 300px;
            }
        }


        .right-auth-container {
            width: 50%;
            padding: 70px;

            .form-container {
                padding: 30px;
                border: 1px solid var(--text-color);
                box-shadow: var(--card-box-shadow);
                margin: 0 20px;
                border-radius: 20px;

                .error {
                    color: var(--red);
                    display: block;
                }

                .successTxt {
                    color: rgb(93, 176, 117);
                }

                h2 {
                    font-family: 'poppins' !important;
                    margin-top: 0;
                    margin-bottom: 30px;
                }

                .form-group {
                    margin: 25px 0;

                    label {
                        display: block;
                        margin-bottom: 5px;
                        color: var(--text-color);
                        font-family: 'poppins';
                    }

                    .form-input {
                        width: 100%;
                        padding: 10px;
                        border: 1px solid var(--text-color);
                        border-radius: 8px;
                        font-size: 18px;

                        &:focus {
                            padding: 13px 10px;

                        }
                    }
                }

                .btn-submit {
                    display: block;
                    background-color: var(--blue);
                    color: var(--white);
                    padding: 10px 50px;
                    border-radius: 8px;
                    font-family: "poppins" !important;
                    width: 100%;
                    margin: 45px 0;
                    border: 1px solid var(--blue);
                    cursor: pointer;

                    &:hover {
                        background-color: var(--white);
                        border: 1px solid var(--blue);
                        color: var(--blue);
                    }
                }

                a {
                    color: var(--text-color);
                    text-align: center;
                    text-decoration: underline;

                    &:hover {
                        color: var(--blue);
                    }
                }
            }

            p {
                text-align: center;
                margin-top: 30px;

                a {
                    font-weight: 600;
                }
            }
        }
    }
}

/* Media queries styles */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 900px) {

    /* Styles */
    .auth-box {
        flex-direction: column !important;

        .left-auth-container {
            width: 100% !important;


            img {
                // transform: scale(0.5) !important;
                width: 250px;
            }
        }

        .right-auth-container {
            padding: 10px !important;
            width: 100% !important;
            
            .form-container{
                padding: 15px !important;
                margin: 0 10px !important;
            }
        }
    }
}


@media only screen and (min-width: 600px) and (max-width: 900px) {
    .auth-box {
        flex-direction: column !important;

        .left-auth-container {
            width: 100% !important;

            img {
                // transform: scale(0.5) !important;
                width: 420px !important;
            }
        }

        .right-auth-container {
            padding: 50px !important;
            width: 100% !important;
        }
    }

}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .auth-box {

        .left-auth-container {
            width: 50% !important;

            img {
                transform: scale(0.8) !important;
                display: flex;
                align-self: flex-start;
                // width: 250px;            
            }
        }

        .right-auth-container {
            width: 50% !important;
            padding: 10px !important;
        }
    }
}



@media screen and (min-width: 1600px) {
    .auth-box {
        width: 85% !important;
        margin: 0 auto;
    }
}