* {
  box-sizing: border-box;
  font-family: "Raleway";
  transition: 0.3s all;
  outline: none;
}

a {
  text-decoration: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

input:focus {
  border: 1px solid var(--blue) !important;
}

:root {
  --red: #c10000;
  --white: #ffffff;
  --main-background: rgba(243, 243, 243, 1);
  --border: rgba(217, 217, 217, 1);
  --border-bottom-color: rgb(229, 231, 235);
  --box-shadow: 0px 1px 5px #888;
  --box-shadow-sm: 0 0 #000, 0 0 #000, 0 0 #000, 0 0 #000,
    0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --light-blue: rgb(96 165 250);
  --blue: #2028f4;
  --text-color: #303030;
  --placeholder-color: rgba(48, 48, 48, 0.5);
  --card-box-shadow: 0px 0px 8px rgba(96, 95, 95, 0.2);
}
