nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;

    &.nav-bar {
        border-bottom: 1px solid var(--border);
        box-shadow: var(--box-shadow-sm);
    }

    .bars-box {
        display: flex;
        justify-content: end;

        @media only screen and (min-width: 751px) {
            display: none !important;
        }
    }

    .nav-contents-active {
        display: none !important;

        @media only screen and (min-width: 751px) {
            display: flex !important;
        }

    }

    .nav-header {
        display: flex;
        align-items: center;

        img {
            width: 80px;
        }

        a {
            font-size: 22px;
            width: 150px;
            margin-left: 20px;
            text-align: center;
        }
    }

    .nav-contents {
        display: flex;
        align-self: center;
        margin-right: 10px;

        a {
            margin: 0 20px;
            font-size: 18px;
            color: var(--text-color);

            &:hover {
                color: var(--blue);
            }
        }

        .active {
            color: var(--blue);
        }
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 990px) {

    /* Styles */
    nav {
        .nav-header {

            img {
                width: 45px;
            }

            a {
                font-size: 14px;
                width: 100px;
                margin-left: 5px;
            }
        }
    }
}

@media screen and (min-width: 991px) and (max-width: 1200px) {}

@media only screen and (min-width: 320px) and (max-width: 750px) {

    /* Styles */
    nav {
        .nav-contents {
            flex-direction: column;
            position: absolute;
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
            margin-top: 20px;
            background-color: var(--white);
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            top: 1px;
            margin-top: 5px;
            right: 0;
            margin-right: 0;


            a {
                display: block;
                margin-top: 10px;
                margin-bottom: 10px;
                font-size: 14px;
            }
        }
    }
}