nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;

    .nav-header {
        display: flex;
        align-items: center;

        a {
            font-size: 30px;
            width: 150px;
            margin-left: 20px;
            text-align: center;
        }
    }

    .nav-contents {
        display: flex;
        align-self: center;
        margin-right: 10px;

        @media only screen and (min-width: 320px) and (max-width: 990px) {
            display: none;
        }

        a {
            margin: 0 20px;
            font-size: 18px;
            color: var(--text-color);

            &:hover {
                color: var(--blue);
            }
        }

        .active {
            color: var(--blue);
        }
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 990px) {

    /* Styles */
    nav {


        .nav-header {

            img {
                width: 100px;
            }

            a {
                font-size: 20px;
                width: 100px;
                margin-left: 10px;
            }
        }
    }
}

@media screen and (min-width: 991px) and (max-width: 1200px) {}